<% provide(:title, "Campaigns") %>
<div id="wrapper">
  <%= render "layouts/side_bar"%>
    <div id="page-content-wrapper">
      <div class="container-fluid">
        <div id="campaign-index">
          <h1 id="title">Campaigns</h1>
          <hr>
          <br>
          <br>
          <%= link_to editor_campaigns_path, id: "new-campaign" do %><span class="fa fa-plus"></span> New Campaign <% end %>
          <br>
          <br>
          <br>
          <hr>
          <% if @user.campaigns.count >= 1 %>
          <h2><%= @user.campaigns.count %> Active Campaigns</h2>
          <% @campaigns.each do |campaign| %>
          <div class="active-campaigns col-md-5">
            <h2>
              <%= link_to campaign.title.html_safe, campaign %>
            </h2>
            <p>
              <%=h truncate(campaign.description, :length => 150) %>
            </p>
            <p class="created">
              Created
              <%= time_ago_in_words(campaign.created_at) %>
              ago by
              <%= campaign.user.email %>
            </p>
            <%= link_to edit_campaign_path(campaign, campaign), class: "sub-index-btn green-btn" do %><span class="fa fa-pencil"></span> Edit <% end %>
            <%= link_to campaign_results_path(campaign), class: "sub-index-btn dark-blue-btn" do %><span class="fa fa-area-chart"></span> Results <% end %>
          </div>
          <% end %>
          <% else %>
              <h2>You have no Campaigns!</h2>
          <% end %>
          <h2 class="col-md-12">Ended Campaigns</h2>
      </div>
    </div>
  </div>
</div>
