<!DOCTYPE html>
<html>
<head>
  <title><%= title(yield(:title)) %></title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= render "layouts/shim" %>
  <meta name='csrf-token' content='<%= form_authenticity_token %>' />
  <link rel="stylesheet" href="https://unpkg.com/react-select/dist/react-select.css">
  <link rel="stylesheet" href="//cdn.quilljs.com/1.2.6/quill.snow.css">
  <%= javascript_pack_tag 'awesome_editor' %>
</head>
<body>
  <% if current_page?(root_path) %>
  <%= render "layouts/header" unless @disable_nav %>
  <% else %>
  <%= render "layouts/logged_in_header" unless @disable_nav || current_page?(new_user_session_path) || current_page?(new_user_registration_path) %>
  <% end %>
    <% flash.each do |message_type, message| %>
    <div class="alert alert-<%= message_type %>"><%= message %></div>
    <% end %>
  <%= yield %>
  <%= javascript_pack_tag 'index' %>
</body>
</html>
